@model MusicWeb.ViewModel.MusicViewModel

@{
    ViewData["Title"] = "Music Album: "+Model.Title;
}

<h2>@Model.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
    </dl>
</div>
<div>
    <p>@Html.ActionLink("Home","Index")</p>
</div>
